<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/style.css" rel="stylesheet"/>

    <title>Сортировщик</title>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <form method="post" action="sort" class="form">
                <input class="form__input" type="text" name="text" placeholder="Введите цифры через запятую"/>
                <button class="form__submit " type="submit">Сортировать</button>
            </form>
        </div>
    </div>
</body>
</html>