<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/style.css" rel="stylesheet"/>
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="form">
                <p class="text" th:text = "'Исходный массив: ' + ${array}"/>
                <p class="text" th:text = "'Отсортированный массив: ' + ${sortedArray}"/>
            </div>
        </div>
    </div>
</body>
</html>